# MacOS files
.DS_Store

# Temporary files
*.tmp

untitled_project/
*/__pycache__/


# ignore test jupyter notebooks
doNotUpload.ipynb


# ignore Big files, more than 50.0Mb
datasets/
models/
tests/
env/
